.intro {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  width: calc(100% * (984 / 1280));
  max-width: 984px;
}
/*
@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}
/