.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% * (1184 / 1280));
  min-height: 740px;
  background-image: url(../../images/cover__image.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: calc(100% * (1024 / 1024));
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: calc(100% * (768 / 768));
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: calc(100% * (320 / 320));
    min-height: 200px;
  }
}
