.photo-grid__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 92px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid__items {
    gap: 14px;
  }
}