.cover__background {
  position: relative;
  display: grid;
  justify-items: center;
  align-content: center;
  background-image: url(../../../images/cover__image.jpg);
  object-fit: cover;
  min-width: 1184px;
  min-height: 740px;
  /*background-repeat: no-repeat;*/
}

