.place {
  display: grid;
  grid-template-columns: calc(100% * (460 / 984)) calc(100% * (484 / 984));
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 48px;
  margin: 80px 0 0;
}

.place:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc(100% * (440 / 928)) calc(100% * (456 / 928));
    column-gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin: 73px 0 0;
    column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 50px 0 0;
    row-gap: 32px;
  }
}
